<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - YPI ROUDLOTUL ANWAR AL ASYARI</title>
    <link rel="stylesheet" href="/static/login.css">
</head>
<body class="login-body">
    <div class="login-container">
        <div class="login-logo">
            <img src="https://i.postimg.cc/7Y3ctjST/photo-2024-09-27-19-32-15.jpg" alt="Logo Salmah Gresik">
        </div>
        <h1>Selamat Datang di Pendaftaran YPI ROUDLOTUL ANWAR AL ASYARI</h1>
        <p>Silakan login menggunakan akun Google Anda untuk melanjutkan</p>
        <a href="/login" class="login-button">
            <img src="https://banner2.cleanpng.com/20240216/sb/transparent-google-logo-google-logo-with-multicolored-g-and-1710875781697.webp" alt="Google Logo">
            Login dengan Google
        </a>

        <div class="footer-login">
                    </div>
    </div>
</body>
</html>
